@model IEnumerable<KoiShip_DB.Data.Models.ShippingOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AddressTo) <!-- Corrected Typo -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShippingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EstimatedDeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Pricing.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShipMent.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdressTo) <!-- Corrected Typo -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedDeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pricing.Currency) <!-- Added Null Check -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipMent.Description) <!-- Added Null Check -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName) <!-- Added Null Check -->
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
